{% extends "layout.html" %}

{% block edit_list %}
<!-- data-bs-theme="light" -->


<div style="min-height:100px;"></div>
<form action="/save_list" method="POST">
    <div class="card border-primary mb-3" style="max-width:100%;">
        <div class="card-header">Header</div>
            <div class="card-header">
                <!--  style="max-width:50%;" -->
                <div class="form-group">
                    <!-- NAME -->
                    <label class="col-form-label mt-2 text-info" for="inputDefault">Name list</label>
                    <input type="text" class="form-control mx-2" name="list_name" value="{{info['name']}}" id="inputDefault" >
                </div>
                <!-- DESCRIPTION -->
                <div class="form-group">
                    <label for="exampleTextarea" class="form-label mt-2 text-info">Description</label>
                    <textarea name="description" class="form-control mx-2" id="exampleTextarea" rows="3">{{info['description']}}</textarea>
                </div>
                
                <div class="modal-body d-inline-flex justify-content-between px-1">

                    <!-- button radio PRIVACY-->
                    <div class="form-group col-4 ">
                        <div class="form-label">
                            <label class="mt-2 text-info" for="inputDefault">Privacy list</label>
                        </div>
                        <div class=" btn-group mx-2" role="group" aria-label="Basic radio toggle button group">
                            {% if info['privacy'] == 'private' %}
                                <!-- PRIVATE  1 cheked-->
                                <input value="private" type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                                <label class="btn btn-outline-danger" for="btnradio1">Private</label>
                                <!-- PUBLIC  2-->
                                <input value="public" type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                                <label class="btn btn-outline-success" for="btnradio2">Public</label>
                            {% else %}
                                <!-- PRIVATE  1-->
                                <input value="private" type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                                <label class="btn btn-outline-danger" for="btnradio1">Private</label>
                                <!-- PUBLIC  2-->
                                <input value="public" type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
                                <label class="btn btn-outline-success" for="btnradio2">Public</label>
                            {% endif %}
                        </div>
                    </div>
                
                    <!-- Button trigger modal ADD MANUAL TRACK -->
                    <div class="form-group col-5 mx-2">
                        <div class="">
                            <label class="mt-2 text-info" for="inputDefault">Add manual</label>
                        </div>
                        <button type="button" class="btn btn-success mx-2 mt-2 px-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            + TRACK
                        </button>
                    </div>
            
                </div>

            </div>     
      </div>


      <!-- TODO: List  -->
    <div class="card-body" data-bs-theme="light">
        <table  id="table" class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th scope="col"><strong>#</strong></th>
                    <th scope="col"><strong>Band/album</strong></th>
                    <th scope="col"><strong>Track</strong></th>
                    <th scope="col"><strong>Time</strong></th>
                    <th scope="col"><strong>Operators</strong></th>
                </tr>
            </thead>
            <tbody>
            {% for item in data %}
            <tr class="table-dark">
                <!-- order -->
                <td><input id="order" type="hidden" name="order" value="{{item['order']}}">{{item['order']}}</td>
                <td class="d-flex flex-column">
                    <!-- artist -->
                    <input id="artist" type="hidden" name="artist" value="{{item['artist']}}">{{item['artist']}}
                    <!-- album -->
                    <input id="album" type="hidden" name="album" value="{{item['album']}}"><small class="text-secondary">{{item['album']}}</small>
                </td> 
                <!-- track -->
                <td class="align-middle"><input id="track" type="hidden" name="track" value="{{item['track']}}">{{item['track']}}</td>
                <!-- time -->
                <td class="align-middle"><input id="time" type="hidden" name="time" value="{{item['time']}}">{{item['time']}}</td>
                <td class="align-middle">
                    
                    <!-- ? info -->
                    <a type="button" onclick="info(this);" data-bs-toggle="modal" data-bs-target="#modal-info"><img class="mx-2" src="{{url_for('static', filename='img/info.png')}}" width="25px" height="25px"></a>
                    <!-- ? delete -->
                    <a type="button" onclick="pop(this);"><img class="mx-2" src="{{url_for('static', filename='img/garbage_collector.png')}}" width="25px" height="25px"></a>
                    <!-- ? edit -->
                    <a type="button" onclick="edit(this);" data-bs-toggle="modal" data-bs-target="#modal-edit"><img class="mx-2" src="{{url_for('static', filename='img/edit.png')}}" width="25px" height="25px"></a>
                    <!-- hidden vars -->
                    <input type="hidden" name="fav" value="{{item['fav']}}">
                    <input type="hidden" name="genres" value="{{item['genres']}}">

                    <input type="hidden" name="" class="data_track" value="{{item['links']}}">
                
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between align-content-center">
        <div class="">
            <button type="button" onclick="upNdown('up');" class="btn btn-outline-success mx-2">Up</button>
            <button type="button" onclick="upNdown('down');" class="btn btn-outline-danger">Down</button>
        </div>
        <div class="">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
</form>

<!-- MODAL ADD TRACK -->
<div class="modal modal-xl fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- FORM ADD TRACK MANUAL -->
            <form action="/add_track_manual" method="POST" class="row g-3 needs-validation" novalidate>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">ADD TRACK</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-inline-flex justify-content-between px-5">
                    <div class="col-md-3">
                        <label for="validationCustom01" class="form-label">Track name</label>
                        <input type="text" class="form-control" id="validationCustom01" name="add_track">
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom02" class="form-label">Album name</label>
                        <input type="text" class="form-control" id="validationCustom02" name="add_album">
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom03" class="form-label">Artist name</label>
                        <input type="text" class="form-control" id="validationCustom03" name="add_artist">
                    </div>
                     
                </div>
                <div class="modal-body d-inline-flex justify-content-start px-5">
                    <div class="col-md-1">
                        <label for="validationCustom04" class="form-label">Time track</label>
                        <input type="text" class="form-control" id="validationCustom04" name="add_time" value="00:00">
                    </div> 
                    

                    <div class="col-md-3 mx-5">
                        <label for="validationCustom04" class="form-label">State</label>
                        <select name="add_genre" class="form-select" id="validationCustom04" required>
                            <option  selected disabled value="">Choose...</option>
                            {% for genre in genres %}
                            <option value="{{genre}}">{{genre}}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                          Please select a valid state.
                        </div>
                      </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Append</button>
                </div>


            </form>
        </div>
    </div>
</div>


<!-- TODO: MODAL INFO -->
<div class="modal fade" id="modal-info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/add_links" method="POST">
                    <!-- ! body modal -->
                    <table class="table">
                        <input type="hidden" id="track-order" name="track-order" value="">
                        <tbody>
                            <tr>
                                <td><img class="mx-2" src="{{url_for('static', filename='img/icon-youtube.png')}}" width="25px" height="25px"></td>
                                <td>URL TRACK</td>
                                <td><input type="url" name="url-youtube" id="url-youtube"></td>
                            </tr>
                            <tr>
                                <td>TABLATURES</td>
                            </tr>
                            <tr>
                                <td><img class="mx-2" src="{{url_for('static', filename='img/icon-guitar-solo.png')}}" width="25px" height="25px"></td>
                                <td>GUITAR 1</td>
                                <td><input type="url" name="url-guitar-1" id="url-guitar-1"></td>
                            </tr>
                            <tr>
                                <td><img class="mx-2" src="{{url_for('static', filename='img/icon-guitar-rit.png')}}" width="25px" height="25px"></td>
                                <td>GUITAR 2</td>
                                <td><input type="url" name="url-guitar-2" id="url-guitar-2"></td>
                            </tr>
                            <tr>
                                <td><img class="mx-2" src="{{url_for('static', filename='img/icon-bass.png')}}" width="25px" height="25px"></td>
                                <td>BASS</td>
                                <td><input type="url" name="url-bass" id="url-bass"></td>
                            </tr>
                            <tr>
                                <td>ANOTHER LINKS: </td>
                            </tr>
                            <tr>
                                <td><img class="mx-2" src="{{url_for('static', filename='img/icon-link.png')}}" width="25px" height="25px"></td>
                                <td>LINK 1</td>
                                <td><input type="url" name="url-link-1" id="url-link-1"></td>
                            </tr>
                            <tr>
                                <td><img class="mx-2" src="{{url_for('static', filename='img/icon-link.png')}}" width="25px" height="25px"></td>
                                <td>LINK 2</td>
                                <td><input type="url" name="url-link-2" id="url-link-2"></td>
                            </tr>
                            <tr>
                                <td><img class="mx-2" src="{{url_for('static', filename='img/icon-link.png')}}" width="25px" height="25px"></td>
                                <td>LINK 3</td>
                                <td><input type="url" name="url-link-3" id="url-link-3"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="modal-edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="title-modal"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/edit_track" method="POST">
                <div class="modal-body">
                
                <table class="table">
                    <input id="order-edit" id="order-edit" type="hidden" name="order" value="">
                    <tbody>
                        <tr >
                            <td ><label for="">Artist:</label></td>
                            <td ><input id="artist-edit" class="w-100" type="text" name="artist" value=""></td>
                        </tr>
                        <tr>
                            <td><label for="">Album:</label></td>
                            <td><input id="album-edit" class="w-100" type="text" name="album" value=""></td>
                        </tr>
                        <tr>
                            <td><label for="">Track:</label></td>
                            <td><input id="track-edit" class="w-100" type="text" name="track" value=""></td>
                        </tr>
                        <tr>
                            <td><label for="">Time:</label></td>
                            <td><input id="time-edit" class="w-25" type="text" name="time" value=""></td>
                        </tr>
                        <tr>
                            <td><label  for="range">Progress:</label></td>
                            <td><input value="0" min="0" max="100" step="1" id="range" type="range" class="w-75" name="range"><label class="mx-3" id="label-range"></label></td>
                        </tr>
                    </tbody>
                </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock  %}