{% extends "layout.html" %}

{% block login %}
    
<div>
    <div class="d-flex p-2">
        <div class="container-fluid row m-0 justify-content-center align-items-center align-self-start">
            <div class="card shadow w-50">
                <div class="card-body" >
                    <!-- Formulario -->
                    <form class="" action="/login" method="POST" data-bs-theme="light">
                        <h3 class="text-center">Login</h3>
                        <!-- Email -->
                        <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
                        <input type="email" class="form-control text-black" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                        <!-- Password -->
                        <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                        
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" autocomplete="off" name="password">
                        <!-- Alert login -->
                        {% if alert == False %}
                            <div class="alert alert-dismissible alert-danger">
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                <strong>Le pifeste pibe!</strong> Escribi bien tu usuario o contraseña o <a href="#" class="alert-link">registrate.</a>
                            </div>
                        {% endif %}
                        <!-- Button login -->
                        <div class="d-flex justify-content-center align-items-center pt-3">
                            <button type="submit" class="btn btn-dark">Enter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}