{% extends "layout.html" %}

{% block view_lists %}
<div class="container row m-0 align-self-start pt-5 mt-5">
    <h1 class="">{{ nickname }}</h1>

    {% if data %}
        {% for list in data %}
            {% if list['privacy'] == 'private' %}
            <div class="card border-danger mb-3 m-3"  style="max-width: 20rem;">
            {% else %}
            <div class="card border-success mb-3 m-3" style="max-width: 20rem;">
            {% endif %}
                <!-- Nombre de la banda -->
                <div class="card-header">band name</div>
                <div class="card-body">
                    <!-- Nombre de la lista -->
                    <h4 class="card-title">{{ list['name'] }}</h4>
                    <!-- Descripcion de la lista -->
                    <p class="card-text">
                        {{list['description']}}
                    </p>
                    <ul class="list-group">
                        <!-- Cantidad de canciones de la lista -->
                        <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
                            amount list
                            <span class="badge bg-primary rounded-pill">{{list['amount']}}</span>
                        <!-- Tiempo total de la lista -->
                        <li class="list-group-item list-group-item-info d-flex justify-content-between   align-items-center">
                            total time
                            <span class="badge bg-primary rounded-pill font-monospace">{{list['total_time']}}</span>
                        </li>
                        <!-- Genero dominante de la lista -->
                        <li class="list-group-item list-group-item-info d-flex justify-content-between   align-items-center">
                            dominant gender
                            <span class="badge bg-primary rounded-pill">Punk</span>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-content-center justify-content-around mt-1 mb-3">
                    <!-- boton editar lista -->
                    <form action="/edit_list" method="POST">
                        <button name="edit" value="{{list['id']}}" type="submit" class="btn btn-outline-info">Edit</button>
                    </form>
                    <button value="{{list['name']}}" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="deletelist(this.value)">Delete</button>
                </div>
            </div>
        {% endfor %}
        <div class="card border-success mb-3 m-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Success card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

    {% else %}
        <p class="text-warning opacity-50">.no list in db</p>
    {% endif %}

    <form action="/delete_list" method="POST">
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">¿Estas seguro de elimidat la lista?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="list_name" class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <!-- boton delete -->
                        <button id="btn-delete" type="submit" name="btn_delete" class="btn btn-danger" value="">delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>

    </script>   
{% endblock  %}


